div.alert {

padding: 0rem 0rem;
}




div.container{

margin: 0px;
padding-left: 0px;
}

main.container{
padding-left: 0px;
}

div.col-3{
margin: 0px;
padding-left: 10px;
}

div.col-2 > h6 {
color: #C0C0C0;
font-weight: 900;
}